In [3]:
import pandas as pd

In [42]:
df = pd.read_csv('data_Merademy_2024-02-11_to_2024-02-18.csv')

In [43]:
df.shape

(56, 2)

In [44]:
df.columns

Index(['date', 'message'], dtype='object')

In [50]:
df.head()

                  date                                            message
0  2024-02-18 06:12:40  Xiaomi - Internship\nRole: Performance Testing...
1  2024-02-18 04:40:46  EY is hiring Business Analyst!\nQualification:...
2  2024-02-17 14:31:57  Hike - Work From Home\nPosition: Business Anal...
3  2024-02-17 12:46:18  Amazon is hiring Freshers!\nPosition: Trainee\...
4  2024-02-17 10:45:23  IBM is hiring Data Engineer!\nQualifications: ...

In [47]:
df['message'][0]

"Xiaomi - Internship\nRole: Performance Testing Intern\nQualifications: Bachelorâ€™s/ Master's Degree\nSalary: 30K Per Month (Expected) \nBatch: Recent Batches\nExperience: Freshers\nLocation: Bangalore, India\n\nðŸ“ŒApply Now: https://merademyjobs.com/index.php/2024/02/18/xiaomi-is-hiring-for-performance-testing-intern-apply-now/\n\nðŸ‘‰WhatsApp Channel: https://whatsapp.com/channel/0029Va4NcE0Bvvsi4obUbS0s\n\nðŸ‘‰Telegram Link: https://telegram.dog/merademy"

In [52]:
df[['company', 'Job title', 'qualification', 'salary', 'batch', 'location', 'apply link', 'whatsappchannel link', 'telegramchannellink']] = df['message'].str.split('\n', expand=True)

ValueError: Columns must be same length as key